.SidebarParent{
    width: 95%;
    margin: auto;
    margin-top: 35px;
}

.SidebarButton{
    width: 100%;
    display: flex !important;
    flex-direction: row;
    gap: 9px;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;;
   
}

.SidebarLink{
    text-decoration: none !important;
}

.SidebarList{
    border: 0px !important;
    padding-left: 1px !important;
    width: 111% !important;
    
}